* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Display", sans-serif;
}

/* #navDiv1{
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#navDiv1 select{
    height: 35px;
} */

/* #NavContinue{

} */
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.parent a {
  text-decoration: none;
  color: black;
}

.navLogo img {
  height: 100%;
}
.navList {
  list-style: none;
  display: flex;
  margin: 0px 120px;
  align-items: center;
}
.navList li {
  margin-right: 25px;
}
.navList a {
  font-size: 17px;
}


#image1 {
  height: 30px;
}




/* section2 */
#sect2Parent{
  margin-left: 120px;
  display: flex;

}
.Sect2divs{
  width: 45%;
}
.Sect2divs h1{
  font-size: 30px;
  padding-bottom: 15px;
}
.Sect2divs p{
  line-height: 30px;
  font-size: 18px;
}
#quickLinks{
  display: flex;
  text-decoration: none;
  margin-top: 30px;
}
#quickLinks i{
  margin-right: 10px;
}


.arrow{
  height: 40px;
  width: 40px;
  background-color: rgb(41, 173, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.arroeparent{
  display: flex;
  margin-left: 450px;
}

.section2LeftDown{
  display: flex;
}

.Sectio2divImage{
  width: 80%;
  height: 700px;
}
.section2LeftDown img{
  width: 100%;

}